td {
    padding: 0;
    height: 10%;
    width: 10%;
}

.grey {
    background-color: #5e5e5e;
    color: white;
}

.pad {
    padding: 20px;
}

.blue {
    color: #4285F4;
}

.red {
    color: #DB4437;
}

.yellow {
    color: #F4B400;
}

.green {
    color: #0F9D58;
}
:host {
    display: block;
    width: 100%;
}