<div [ngSwitch]="tile">
    <button class="btn black disabled" *ngSwitchCase="0"><p></p></button>
    <button class="btn darkblue disabled" *ngSwitchCase="1"><p></p></button>
    <button class="btn green disabled" *ngSwitchCase="2"><p></p></button>
    <button class="btn yellow disabled" *ngSwitchCase="3"><p></p></button>
    <button class="btn blue disabled" *ngSwitchCase="4"><p></p></button>
    <button class="btn bluegreen disabled" *ngSwitchCase="5"><p></p></button>
    <button class="btn violet disabled" *ngSwitchCase="6"><p></p></button>
    <button class="btn pink disabled" *ngSwitchCase="7"><p></p></button>
</div>
